<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Club erstellen </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Club erstellen</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Create club form -->

  <ion-item>
    <ion-label class="ion-text-wrap">
      <p>Um einen neuen Club zu erstellen, fülle bitte die folgenden Felder aus.</p>
    </ion-label>
  </ion-item>
  <form [formGroup]="clubCreateForm">
    <ion-item>
      <ion-input formControlName="name" placeholder="Name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <p>
        Ich habe die <a routerLink="/terms">Nutzungsbedingungen</a> gelesen und stimme diesen zu.
      </p>
      <ion-checkbox formControlName="tos" color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <!-- <ion-item>
      <p>
        automatic renewal after 12 months,
        <ion-badge color="danger" slot="end"> 5% off </ion-badge>
      </p>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item> -->
    <ion-item>
      <ion-label position="stacked"
        >Lizenzschlüssel <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required formControlName="licenseKey" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="clubCreateForm.invalid && clubCreateForm.touched" lines="none">
      <ion-text color="danger" class="form-error"> Gültigen Lizenzschlüssel eingeben </ion-text>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>
          Lizenzschlüssel sind gratis bei uns erhältlich und können bei unserem Support bestellt
          werden.
        </p>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="createClub()" [disabled]="!clubCreateForm.valid">
          Club erstellen</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
