<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Create club </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create club</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Create club form -->

  <ion-item>
    <p>Um einen neuen Club zu erstellen, fülle bitte die folgenden Felder aus.</p>
  </ion-item>
  <form [formGroup]="clubCreateForm">
    <ion-item>
      <ion-input formControlName="name" placeholder="Name" type="text"></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="tier">
        <ion-list-header>
          <ion-label>Tier - select one</ion-label>
        </ion-list-header>

        <ion-item>
          <p>Free - Öffentlicher Test, &infin; Teams</p>
          <ion-radio slot="start" value="free"></ion-radio>
        </ion-item>
        <!-- <ion-item>
          <p>Bare - 1 Team for 3 months, CHF 15.00</p>
          <ion-radio slot="start" value="bare"></ion-radio>
        </ion-item>

        <ion-item>
          <p>Standart - 5 Teams for 12 Months, CHF 120.00</p>
          <ion-radio slot="start" value="standard"></ion-radio>
        </ion-item>

        <ion-item>
          <p>NOLIMIT - &infin; Teams for 12 Months, CHF 250.00</p>
          <ion-radio slot="start" value="nolimit"></ion-radio>
        </ion-item> -->
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <p>
        Ich habe die <a routerLink="/terms">Nutzungsbedingungen</a> gelesen und stimme diesen zu.
      </p>
      <ion-checkbox formControlName="tos" color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <!-- <ion-item>
      <p>
        automatic renewal after 12 months,
        <ion-badge color="danger" slot="end"> 5% off </ion-badge>
      </p>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item> -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="createClub()" [disabled]="!clubCreateForm.valid">
          Club erstellen</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar></ion-toolbar>
</ion-footer>
