<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-button *ngIf="showTrainerCtrls" (click)="setFilterMode()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
      <ion-button
        [routerLink]="'../../../../addressbook/'+ sessionId + '/' + clubId + '/' + teamId"
        *ngIf="showTrainerCtrls"
      >
        <ion-icon slot="icon-only" name="people-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleGrid()" *ngIf="gridAvailable">
        <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-title> - </ion-title> -->
    <ion-breadcrumbs>
      <ion-breadcrumb> {{team?.name}} </ion-breadcrumb>
      <ion-breadcrumb> Chat</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!gridMode; else gridView">
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <ion-text *ngIf="meets.length == 0" class="ion-text-center" color="medium">
    <p>
      <i> Es sind noch keine Trainings eingetragen. </i>
    </p>
  </ion-text>

  <trainingbubble
    *ngFor="let meet of meets"
    [meet]="meet"
    [sessionId]="sessionId"
    [teamId]="teamId"
    [clubId]="clubId"
  ></trainingbubble>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="team?.headTrainers?.includes(sessionId)"
  >
    <ion-fab-button (click)="addTraining()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #gridView>
  <ion-content>
    <ion-text *ngIf="meets.length == 0" class="ion-text-center" color="medium">
      <p>
        <i> Es sind noch keine Trainings eingetragen. </i>
      </p>
    </ion-text>
    <ion-fab
      vertical="bottom"
      horizontal="end"
      slot="fixed"
      *ngIf="team?.headTrainers?.includes(sessionId)"
    >
      <ion-fab-button (click)="addTraining()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div class="grid grid-header">
      <div class="cover"></div>
      <div
        class="header"
        *ngFor="let meet of meets; let l = index"
        (click)="presentModal(meet)"
        [style.grid-column-start]="l+2"
        [style.grid-row-start]="1"
      >
        {{ meet.start.toLocaleDateString(undefined, { year: '2-digit', month: 'numeric', day:
        'numeric' }) }} <br />
        <span class="time">
          {{ meet.start.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }} - {{
          meet.end.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}
        </span>
      </div>

      <ng-container *ngFor="let user of sortedUsers; let i=index">
        <div
          class="name"
          [class.odd]="i % 2 == 0"
          [class.user-himself]="i == 0"
          [class.trainer]="team?.trainers?.includes(user) && i == lastTrainerIndex"
          [style.grid-column-start]="1"
          [style.grid-row-start]="i+2"
        >
          {{team?.names[user]}}
        </div>

        <ng-container *ngFor="let m of meets; let mi = index">
          <div
            class="status"
            *ngIf="m.acceptedUsers.includes(user)"
            [class.odd]="i % 2 == 0"
            [class.user-himself]="i == 0"
            [class.trainer]="team?.trainers?.includes(user) && i == lastTrainerIndex"
            [style.grid-column-start]="mi+2"
            [style.grid-row-start]="i+2"
          >
            <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </div>
          <div
            class="status"
            *ngIf="m.declinedUsers.includes(user)"
            [class.odd]="i % 2 == 0"
            [class.user-himself]="i == 0"
            [class.trainer]="team?.trainers?.includes(user) && i == lastTrainerIndex"
            [style.grid-column-start]="mi+2"
            [style.grid-row-start]="i+2"
          >
            <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </div>
          <div
            class="status"
            *ngIf="!(m.declinedUsers.includes(user) || m.acceptedUsers.includes(user))"
            [class.odd]="i % 2 == 0"
            [class.user-himself]="i == 0"
            [class.trainer]="team?.trainers?.includes(user) && i == lastTrainerIndex"
            [style.grid-column-start]="mi+2"
            [style.grid-row-start]="i+2"
          >
            <ion-icon name="help-circle-outline"></ion-icon>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ion-content>
</ng-template>
