<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <trainingbubble *ngFor="let meet of meets" [meet]="meet"></trainingbubble>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addTraining()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Chat footer/toolbar removed in 2.0.0-->
<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    {{msg.value?.lenght}}
    <ion-textarea
      #msg
      enterkeyhint="send"
      spellcheck="true"
      autogrow="true"
      rows="2"
    ></ion-textarea>
  </ion-toolbar>
</ion-footer> -->
