<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>cancel</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="login()"> sign in </ion-button>
      </ion-buttons>
      <ion-title>loginmodal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">loginmodal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-input placeholder="teamtasic-id" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="password"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
