<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967538874315-398jbralidv0hcv96ou5ufikuae2c9vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967538874315-398jbralidv0hcv96ou5ufikuae2c9vh</string>
	<key>API_KEY</key>
	<string>AIzaSyDfIOoDLsZiyUD80_GqenYOymob_rPdRr0</string>
	<key>GCM_SENDER_ID</key>
	<string>967538874315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.teamtasic.ionic.ios</string>
	<key>PROJECT_ID</key>
	<string>teamtasic-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>teamtasic-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967538874315:ios:d3fc15ffacaee05f01c84e</string>
</dict>
</plist>