<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> edit team </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">edit team</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngIf="hasChanges" color="danger">
    <ion-label> unsaved changes </ion-label>
  </ion-item>

  <!-- content start -->

  <form [formGroup]="editGroup">
    <ion-list-header> Name </ion-list-header>
    <ion-item>
      <ion-input placeholder="Name" type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-list-header> Members </ion-list-header>

    <ion-item *ngFor="let member of members | keyvalue">
      <ion-label>
        <h2>{{member.value.name}}</h2>
        <p>{{member.value.role}}</p>
      </ion-label>
      <ion-avatar slot="start">
        <img [src]="'https://avatars.dicebear.com/api/initials/'+ member.value.name +'.svg'" />
      </ion-avatar>
      <ion-button slot="end" fill="clear" color="medium" (click)="presentActionSheet(member.key)">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </form>

  <ion-list-header> Add member </ion-list-header>
  <!-- form for adding members -->
  <form [formGroup]="addGroup">
    <ion-item>
      <ion-input placeholder="user id" type="text" formControlName="uid"></ion-input>
      <ion-spinner slot="end" *ngIf="userState == 'loading'"></ion-spinner>

      <ion-icon
        slot="end"
        *ngIf="userState == 'verified'"
        name="checkmark-circle-outline"
      ></ion-icon>
      <ion-icon slot="end" *ngIf="!userState == 'verified'" name="close-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="name" type="text" formControlName="aname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger" formControlName="asCoach"></ion-checkbox>
      <ion-label> as Coach? </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addMember()" color="success"> add member </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-list-header> Save changes </ion-list-header>
  <ion-item *ngIf="hasChanges" color="danger">
    <ion-label> unsaved changes </ion-label>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="saveChanges()"> save changes</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" expand="block" (click)="resetChanges()">
        discard changes</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-list-header> delete team </ion-list-header>
  <ion-row>
    <ion-col>
      <ion-button color="danger" expand="block" (click)="deleteTeam()"> delete team</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
