<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Team bearbeiten </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Team bearbeiten</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- content start -->

  <form [formGroup]="editGroup">
    <ion-list-header> Name </ion-list-header>
    <ion-item>
      <ion-input placeholder="Name" type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-list-header> Mitglieder </ion-list-header>

    <ion-item *ngFor="let member of team?.users">
      <ion-label>
        <h2>{{team?.names[member]}}</h2>
        <p>{{roleStrings[roles[member]]}}</p>
      </ion-label>
      <ion-avatar slot="start">
        <img [src]="'https://avatars.dicebear.com/api/initials/'+ (team?.names[member]) +'.svg'" />
      </ion-avatar>
      <ion-button slot="end" fill="clear" color="medium" (click)="presentActionSheet(member)">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </form>

  <ion-list-header> Mitglied hinzufügen </ion-list-header>
  <!-- form for adding members -->
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="danger"> ACHTUNG! </ion-text>
      Jeder mit dem Link kann deinem Team beitreten.
    </ion-label>
  </ion-item>

  <ion-item (click)="addMember()">
    <ion-note slot="start"> Mitglieder </ion-note>
    <ion-label color="primary"> {{membercode}} </ion-label>
  </ion-item>
  <ion-item (click)="addTrainer()">
    <ion-note slot="start"> Trainer </ion-note>
    <ion-label color="primary"> {{trainercode}} </ion-label>
  </ion-item>
  <ion-item (click)="addHeadcoach()">
    <ion-note slot="start"> Cheftrainer </ion-note>
    <ion-label color="primary"> {{headtrainercode}} </ion-label>
  </ion-item>

  <!-- <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="addMember()" color="primary">
        Mitglied hinzufügen
      </ion-button>
      <ion-button expand="block" (click)="addTrainer()" color="secondary">
        Trainer hinzufügen
      </ion-button>
      <ion-button expand="block" (click)="addHeadcoach()" color="dark">
        Cheftrainer hinzufügen
      </ion-button>
    </ion-col>
  </ion-row> -->

  <ion-list-header> Team löschen </ion-list-header>
  <ion-item class="ion-text-wrap"> </ion-item>
  <ion-row>
    <ion-col>
      <ion-button color="danger" expand="block" disabled> Team löschen</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
