<ion-list>
  <ion-list-header>
    {{ team?.names[sessionId] || 'unknown' }}
  </ion-list-header>
  <ion-item *ngIf="(meet?.comments || {})[sessionId] !== undefined">
    <ion-label position="stacked"> Kommentar: </ion-label>
    <ion-label class="ion-text-wrap ion-text-sm">
      {{ (meet?.comments || {})[sessionId] }}
    </ion-label>
  </ion-item>
  <ion-item (click)="setState('accepted')">
    <ion-label> Kommt </ion-label>
  </ion-item>
  <ion-item (click)="setState('declined')">
    <ion-label> Kommt nicht </ion-label>
  </ion-item>
</ion-list>
