<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sign up </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign up</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- page start -->
  <form [formGroup]="signupform" (submit)="signUp()">
    <ion-item>
      <ion-label position="stacked">Benutzername <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" required formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" required formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Passwort <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefonnummer</ion-label>
      <ion-input type="text" formControlName="phoneNumber" placeholder="Telefonnummer"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Adresse</ion-label>
      <ion-input type="text" formControlName="address" placeholder="Adresse"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Postleitzahl, Stadt</ion-label>
      <ion-input type="text" formControlName="zipcode" placeholder="Postleizahl, Stadt"></ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox formControlName="tos" slot="start"> </ion-checkbox>
      <ion-label> Ich stimme den AGB zu. </ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="signupform.invalid"
          >Registrieren</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button disabled> Help </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
