<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sign up </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign up</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- page start -->
  <form [formGroup]="signupform" (submit)="signUp()">

    <ion-item>
      <ion-label>Displayname <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" required formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" required formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-checkbox  formControlName="tos">  </ion-checkbox>
        <ion-label>
          I agree to the <a href="#">terms and conditions</a>
        </ion-label>

      </ion-col>
    </ion-row>

        <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="signupform.invalid">sign up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> Help </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
