<ion-header>
  <ion-toolbar>
    <ion-title>Mein Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mein Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>
      <h2>{{(drs.authUsers | async)[0].username}}</h2>
    </ion-label>
    <ion-avatar slot="start">
      <img
        [src]="'https://avatars.dicebear.com/api/initials/'+ (drs.authUsers | async)[0].username + '.svg'"
      />
    </ion-avatar>
  </ion-item>

  <ion-list>
    <ion-list-header> Meine Zugänge </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Teamtasic unterstützt es, für einen Account mehrere Personen zu erfassen. (z.B. für Eltern
        mehrere Kinder). Diese Personen können hier Verwaltet werden.
      </ion-label>
    </ion-item>

    <ion-item
      button
      detail
      *ngFor="let sessionUser of (drs.sessionUsers | async)[0]"
      (click)="openSessionEditor(sessionUser)"
    >
      <ion-label> {{sessionUser.name}} </ion-label>
    </ion-item>

    <ion-item button detail (click)="openSessenEditorNew()">
      <ion-label> Neuen Zugang erstellen </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Meine Daten </ion-list-header>
    <form [formGroup]="userData">
      <ion-item>
        <ion-label position="stacked">Benutzername</ion-label>
        <ion-input type="text" formControlName="username" placeholder="Benutzername"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telefonnummer</ion-label>
        <ion-input
          type="text"
          formControlName="phoneNumber"
          placeholder="Telefonnummer"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Adresse</ion-label>
        <ion-input type="text" formControlName="address" placeholder="Adresse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Postleitzahl, Stadt</ion-label>
        <ion-input
          type="text"
          formControlName="zipcode"
          placeholder="Postleizahl, Stadt"
        ></ion-input>
      </ion-item>
      <ion-list-header> Push-Benachrichtigungen </ion-list-header>
      <ion-item>
        <ion-label>Push-Benachrichtigungen</ion-label>
        <ion-toggle formControlName="notificationsEnabled"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="userData?.value.notificationsEnabled">
        <ion-label> Neues Training eingetragen </ion-label>
        <ion-toggle formControlName="newTrainingNotifications"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="userData?.value.notificationsEnabled">
        <ion-label> Termin von Trainer bearbeitet </ion-label>
        <ion-toggle formControlName="trainingChangedNotifications"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="userData?.value.notificationsEnabled">
        <ion-label> Trainingshinweis </ion-label>
        <ion-toggle formControlName="trainingReminderNotifications"></ion-toggle>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="saveUserData()" [disabled]="userData.invalid">
            Änderungen speichern</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            (click)="enPushNotifications()"
            color="secondary"
            *ngIf="isPushNotifsAvailable()"
          >
            Push-Benachrichtigungen aktivieren</ion-button
          >
        </ion-col>
      </ion-row>
    </form>

    <ion-list-header> Sicherheit </ion-list-header>
    <ion-item detail button (click)="changePassword()">
      <ion-label>Passwort ändern</ion-label>
    </ion-item>
    <ion-item detail button (click)="changeEmail()">
      <ion-label>E-Mail ändern</ion-label>
    </ion-item>
    <ion-item detail button (click)="deleteAccount()" disabled>
      <ion-label>Account löschen</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
