<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Teams</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-select
      interface="action-sheet"
      placeholder="Benutzer bitte auswählen"
      (ionChange)="sessionChanged($event)"
    >
      <ion-select-option
        *ngFor="let sessionUser of ((drs.sessionUsers | async) || [[]])[0]"
        [value]="sessionUser.uid"
        >{{sessionUser.name}}</ion-select-option
      >
    </ion-select>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start" (click)="openMenu()" class="header-selector-avatar">
      <!-- <img [src]="'https://avatars.dicebear.com/api/initials/'+ selectedSession?.name +'.svg'" /> -->
      <img
        [src]="selectedSession?.profilePictureUrl || 'https://avatars.dicebear.com/api/initials/'+'-' +'.svg?background=%23000000'"
      />
    </ion-avatar>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #main>
  <!-- All the chats are here -->
  <ng-template #noTeams>
    <ion-text class="ion-text-center" color="medium">
      <p>Du bist noch in keinem Team</p>
    </ion-text>
  </ng-template>

  <ion-list *ngIf="memberships.length != 0; else noTeams">
    <ion-item
      *ngFor="let membership of memberships"
      [routerLink]="'/tabs/tab2/chat/' + selectedSessionId + '/' + membership.clubId +'/' + membership.teamId"
      detail
    >
      <ion-label>
        <h2>{{membership.displayName}}</h2>
        <p>{{getClubName(membership.clubId)}}</p>
      </ion-label>
      <ion-avatar slot="start">
        <img [src]="'https://avatars.dicebear.com/api/initials/'+ membership.displayName +'.svg'" />
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>

<ion-menu side="start" menuId="menu" contentId="menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Benutzer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="session-list">
      <ion-item
        *ngFor="let sessionUser of ((drs.sessionUsers | async) || [[]])[0]"
        (click)="sessionChanged(sessionUser.uid)"
      >
        <ion-label> <h2>{{sessionUser.name}}</h2> </ion-label>
        <ion-avatar slot="start" class="header-selector-avatar">
          <img [src]="sessionUser.profilePictureUrl" />
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<router-outlet id="menu"></router-outlet>
