<ion-header>
  <ion-toolbar>
    <ion-title>Training erstellen</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Abbrechen</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="createMeet()" [disabled]="meetCreateGroup.invalid"
        >Training hinzufügen</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="meetCreateGroup">
    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text></ion-label>
      <ion-input placeholder="Titel" formControlName="meetName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text></ion-label>
      <ion-input placeholder="Treffpunkt" formControlName="meetLocation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Bemerkungen" formControlName="meetComment"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text></ion-label>
      <ion-input placeholder="Deadline" formControlName="meetDeadline"></ion-input>
      <ion-note slot="end">Tage vorher eintragen</ion-note>
    </ion-item>
    <h2>Datum & Start</h2>

    <ion-datetime
      placeholder="Datum auswählen"
      max="2100"
      display-format="HH:mm"
      [min]="today"
      formControlName="meetDate"
      [minuteValues]="[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]"
      presentation="date-time"
      size="cover"
      hourCycle="h23"
      [firstDayOfWeek]="1"
    ></ion-datetime>
    <h2>Ende</h2>
    <ion-datetime
      placeholder="Zeit auswählen"
      display-format="HH:mm"
      formControlName="meetEndTime"
      [minuteValues]="[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]"
      presentation="time"
      size="cover"
      hourCycle="h23"
    ></ion-datetime>
  </form>
</ion-content>
