<ion-header>
  <ion-toolbar>
    <ion-title>Training erstellen</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Abbrechen</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="createMeet()" [disabled]="meetCreateGroup.invalid"
        >Training hinzufügen</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="meetCreateGroup">
      <ion-item>
        <ion-input placeholder="Titel" formControlName="meetName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Treffpunk" formControlName="meetLocation"></ion-input>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label> Datum </ion-label>
        <ion-datetime
          placeholder="Datum auswählen"
          max="2100"
          [min]="today"
          formControlName="meetDate"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime
          placeholder="Zeit auswählen"
          display-format="HH:mm"
          picker-format="HH:mm"
          formControlName="meetTime"
          minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Ende</ion-label>
        <ion-datetime
          placeholder="Zeit auswählen"
          display-format="HH:mm"
          picker-format="HH:mm"
          formControlName="meetEndTime"
          minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
        ></ion-datetime>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
