<ion-header>
  <ion-toolbar>
    <ion-title>Termin erstellen</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Abbrechen</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="createMeet()" [disabled]="meetCreateGroup.invalid"
        >Termin hinzufügen</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="meetCreateGroup">
    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text></ion-label>
      <ion-input placeholder="Titel" formControlName="meetName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text></ion-label>
      <ion-input placeholder="Treffpunkt" formControlName="meetLocation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Bemerkungen" formControlName="meetComment"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text></ion-label>
      <ion-input placeholder="Deadline" formControlName="meetDeadline"></ion-input>
      <ion-note slot="end">Tage vorher eintragen</ion-note>
    </ion-item>
    <div class="grid-item">
      <ion-datetime
        placeholder="Datum auswählen"
        display-format="HH:mm"
        [min]="today"
        formControlName="meetDate"
        presentation="date-time"
        display="numpad"
        size="cover"
        hourCycle="h23"
        [firstDayOfWeek]="1"
      >
        <ion-label slot="time-label">Startzeit</ion-label>
      </ion-datetime>
      <div class="datetime-time">
        <ion-datetime
          placeholder="Zeit auswählen"
          display-format="HH:mm"
          formControlName="meetEndTime"
          presentation="time"
          display="numpad"
          size="cover"
          hourCycle="h23"
        >
          <ion-label slot="time-label">Endzeit</ion-label>
        </ion-datetime>
      </div>
    </div>
  </form>
  <form class="ion-margin-vertical" [formGroup]="teamSelectionForm">
    <ion-list formArrayName="teams">
      <ion-list-header> Teams </ion-list-header>
      <ion-item *ngFor="let team of teams; index as i">
        {{ team.name }}
        <ion-checkbox slot="end" [formControlName]="i"></ion-checkbox>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
