<ion-header>
  <ion-toolbar>
    <ion-title>Archiv</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-title> - </ion-title> -->
    <ion-breadcrumbs>
      <ion-breadcrumb> {{team?.name}} </ion-breadcrumb>
      <ion-breadcrumb> Archiv </ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text *ngIf="meets.length == 0" class="ion-text-center" color="medium">
    <p>
      <i> Es sind noch keine Trainings eingetragen. </i>
    </p>
  </ion-text>

  <trainingbubble
    *ngFor="let meet of meets"
    [meet]="meet"
    [sessionId]="sessionId"
    [teamId]="teamId"
    [clubId]="clubId"
    isArchive="true"
  ></trainingbubble>
</ion-content>
