<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-avatar slot="end"> </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- already registered -->

  <!-- pending trainings section -->
  <ion-list *ngIf="userHasJoinedTeam; else joinPrompt">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Du hast noch offene Trainings</ion-card-subtitle>
        <ion-card-title>Offene Trainings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item detail button routerLink="/tabs/tab2" routerLinkActive="active"
            >Zum Kalender</ion-item
          >
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <!-- whats new section -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Neuste Updates</ion-card-subtitle>
        <ion-card-title>Hoi, Hey, Tschau</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Wir freuen uns darauf, endlich unsere Veröffentlichung zu feiern!</p>
        <p>Solltest du Anregungen oder wünsche haben, kannst du uns gerne eine Mail schreiben.</p>
        <p>Bei weiteren Fragen stehen wir natürlich auch gerne zur Verfügung.</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- regsiter new subuser -->
  <ng-template #joinPrompt>
    <ion-list>
      <ion-row style="height: 1em"> </ion-row>
      <ion-item>
        <p>
          Du bist monementan noch in keinem Team registriert. Erstelle einen neuen Verein oder teile
          deinem Administrator deine Benutzer-Id mit, damit dieser dich in deinem Team registrieren
          kann.
        </p>
      </ion-item>

      <ion-row style="height: 1em"> </ion-row>

      <ion-item detail button routerLink="/my-clubs" routerLinkActive="active">
        <ion-label>Team erstellen</ion-label>
      </ion-item>
      <ion-item detail button routerLink="/my-account" routerLinkActive="active">
        <ion-label>Teile deine Benutzer-Id</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
