<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-margin-vertical">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-label>Meine Termine</ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item button detail lines="none" routerLink="/tabs/tab2">
          <ion-label> Zu meinen Teams </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-label>Updates</ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group value="270">
          <ion-accordion value="270">
            <ion-item slot="header">
              <ion-label>2.7.0</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ul>
                <li>Exportiere Termine als ICS</li>
                <li>Export von allen Terminen eines Vereins als CSV</li>
              </ul>
            </ion-list>
          </ion-accordion>
          <ion-accordion value="261">
            <ion-item slot="header">
              <ion-label>2.6.1</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ul>
                <li>
                  Termine: Du kannst nun die Uhrzeit eines Termines veränderen, genause den Titel.
                </li>
                <li>Limitiere die Anzahl zusagen für einen Termin.</li>
              </ul>
            </ion-list>
          </ion-accordion>
          <ion-accordion value="260">
            <ion-item slot="header">
              <ion-label>2.6.0</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ul>
                <li>Neue Homepage: Changelog & News von uns</li>
                <li>Profilbilder: Du kannst nun eigene Profilbilder hochladen</li>
                <li>Kopieren von Terminen</li>
                <li>Trainings heissen nun Termine</li>
                <li>Termine in mehreren Teams erstellen</li>
                <li>Termine in mehrere Teams kopieren</li>
                <li>Mitglieder & Trainer in Teams ausblenden</li>
                <li>
                  Rollentitel individuel veränderbar (Trainer und Athleten frei benennen, z.B.
                  Leiter anstelle Trainer)
                </li>
              </ul>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar> </ion-toolbar>
</ion-footer> -->
