.status-icon {
  font-size: 96px;
}
.accepted {
  --background: var(--ion-color-success);
  --color: #fff;
}
.declined {
  --background: var(--ion-color-danger);
  --color: #fff;
}
.datetime-time {
  background-color: var(--ion-color-light, #ffffff);
  padding: 8px 16px;
}
