<ion-header>
  <ion-toolbar>
    <ion-title> Zugang bearbeiten </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Abbrechen</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveAndDismiss()" [disabled]="dataFrom.invalid">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Persönliche Daten </ion-list-header>
    <form [formGroup]="dataFrom">
      <ion-item>
        <ion-label position="stacked">
          Vorname
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Vorname" formControlName="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Email
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Geburtsdatum
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Geburtsdatum" formControlName="birthdate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Telefonnummer
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Telefonnummer" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Notfallkontakt (Telefonnummer)
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Notfallkontakt" formControlName="emergency"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> J+S Nummer </ion-label>
        <ion-input type="text" placeholder="J+S Nummer" formControlName="jsnumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> AHV Nummer - 756.xxxx.xxxx.xx</ion-label>
        <ion-input type="text" placeholder="AHV Nummer" formControlName="ahvnumber"></ion-input>
      </ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-label> AHV- & J+S-Nummer </ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            Die AHV-Nummer wird von den Vereinsleitern evtl. benötigt, um Kinder bei Jugend+Sport zu
            registrieren.
          </ion-label>
        </ion-card-content>
      </ion-card>

      <ion-list *ngIf="!newSession" lines="none">
        <tt-file-upload
          (fileUploaded)="photoUrlChanged($event)"
          [fileName]="session.uid"
        ></tt-file-upload>
        <ion-item>
          <ion-avatar
            ><img [src]="session.profilePictureUrl" />
            >
          </ion-avatar>
        </ion-item>
      </ion-list>
    </form>

    <ion-list-header *ngIf="!newSession"> Mitgliedschaften </ion-list-header>

    <ion-item *ngFor="let membership of !newSession ? memberships : []">
      <ion-label> {{ membership.displayName }} </ion-label>
      <ion-button (click)="leaveTeam(membership)" slot="end" color="warning">
        Verlassen
      </ion-button>
    </ion-item>

    <form [formGroup]="joinForm" *ngIf="!newSession">
      <ion-item>
        <ion-label position="stacked">TeamCode <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="code" type="text"></ion-input>
        <ion-button slot="end" color="success" [disabled]="joinForm.invalid" (click)="joinTeam()">
          Team beitreten
        </ion-button>
      </ion-item>
    </form>

    <ion-item *ngIf="!newSession && memberships?.length != 0" class="ion-margin-top" lines="none">
      <ion-label class="ion-text-wrap">
        <ion-text color="danger">
          Um diesen Zugang zu löschen, verlasse zuerst bitte alle Teams.
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-grid *ngIf="!newSession">
      <ion-row>
        <ion-col>
          <ion-button
            (click)="deleteUser()"
            expand="block"
            color="danger"
            [disabled]="memberships?.length > 0"
          >
            Zugang löschen
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
