<ion-header>
  <ion-toolbar>
    <ion-title> Zugang bearbeiten </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Abbrechen</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveAndDismiss()" [disabled]="dataFrom.invalid">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Persönliche Daten </ion-list-header>
    <form [formGroup]="dataFrom">
      <ion-item>
        <ion-label position="stacked">
          Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Email
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Geburtsdatum
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Geburtsdatum" formControlName="birthdate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Telefonnummer
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Telefonnummer" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Notfallkontakt (Telefonnummer)
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Notfallkontakt" formControlName="emergency"></ion-input>
      </ion-item>
    </form>

    <ion-card *ngIf="!newSession">
      <ion-card-header>
        <ion-card-title>
          <ion-text color="danger">
            Das Beitreten und verlassen von Teams wird sofort gespeichert.
          </ion-text>
        </ion-card-title>
        <ion-card-content>
          Um ein Team zu verlassen, klicken Sie auf das entsprechende Symbol. Um ein Team zu
          betreten benutze bitte den Code den du von deinem Administrator erhältst.
        </ion-card-content>
      </ion-card-header>
    </ion-card>

    <ion-list-header *ngIf="!newSession"> Mitgliedschaften </ion-list-header>

    <ion-item *ngFor="let membership of !newSession ? memberships : []">
      <ion-label> {{ membership.displayName }} </ion-label>
      <ion-button (click)="leaveTeam(membership)" slot="end" color="warning">
        Verlassen
      </ion-button>
    </ion-item>

    <form [formGroup]="joinForm" *ngIf="!newSession">
      <ion-item>
        <ion-label position="stacked">TeamCode <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="code" type="text"></ion-input>
        <ion-button slot="end" color="success" [disabled]="joinForm.invalid" (click)="joinTeam()">
          Team beitreten
        </ion-button>
      </ion-item>
    </form>

    <ion-card *ngIf="!newSession">
      <ion-card-header>
        <ion-card-title>
          <ion-text color="primary"> Etwas nicht geklappt? </ion-text>
        </ion-card-title>
        <ion-card-content>
          Überprüfe ob du den kompletten Code eingegeben hast. (Besonders 0 und O, l & I). Kopiere
          den Code idealerweise.
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
