<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Team hinzufügen </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Team hinzufügen</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- content start -->
  <ion-item>
    <p>
      Um ein neues Team zu erstellen, fülle einen Namen aus. Anschliessend kannst du Mitglieder
      anhand ihrer Benutzer-Id hinzufügen.
    </p>
  </ion-item>
  <!-- <ion-item>
    <p>Deinem Club stehen noch 4/5 Teams zur verfügung.</p>
  </ion-item> -->
  <form [formGroup]="teamCreateForm">
    <ion-item>
      <ion-input placeholder="Name" formControlName="teamName" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="createTeam()"> Team hinzufügen</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
